body {
    background-color: rgb(96, 148, 194);
    /* color: white; */
}

a {
    color: #0055cc;
    transition: color .5s;
}

a:hover {
    color: black;
    transition: color .3s;
}

label {
    color: white;
    margin: 0;
}

h2 {
    font-size: 24px;
}

[v-cloak] {
    display: none;
}

.kdb-header {
    color: white;
}

.list {
    list-style-type: none;
    font-size: 18px;
    padding:0;
}


.fa-plus-circle {
    color: white;
    font-size: 26px;
    position: relative;
    top: 3px;
    transition: color .7s;
}

button:hover .fa-plus-circle {
    color: rgb(96, 148, 194)
}

.fa-minus-circle {
    color: white;
    font-size: 26px;
}

.code {
    position: fixed;
    top: 3px;
    right: 3px;
    z-index:-1;
    font-size: 14px;
}

.alert {
    position: fixed;
    top: 0;
    width:100vw;
    z-index: 20;
}

.new {
    font-weight: bold;
    font-size: 18px;
}

.done {
    text-decoration: line-through;
}

.fa-check-circle {
    color: green;
}

.sort {
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
}

.profile-pic {
    border-radius: 999px;
    height: 40px;
    width: 40px;
}

.dish-thumbnail {
    max-height: 150px;
    max-width: 150px;
    border-radius: 8px;
}

.in-block {
    display: inline-block;
}