body {
    background-color: rgb(96, 148, 194);
    /* color: white; */
}

label {
    color: white;
    margin: 0;
}

h2 {
    font-size: 24px;
}

[v-cloak] {
    display: none;
}

.kdb-header {
    color: white;
}

.list {
    list-style-type: none;
    font-size: 18px;
    padding:0;
}

.fa-plus-circle {
    color: white;
    font-size: 26px;
    position: relative;
    top: 3px;
}
.fa-minus-circle {
    color: white;
    font-size: 26px;
}

.code {
    position: fixed;
    top: 3px;
    right: 3px;
    z-index:-1;
    font-size: 14px;
}

.alert {
    position: fixed;
    top: 0;
    width:100vw;
}

.new {
    font-weight: bold;
    font-size: 18px;
}

.done {
    text-decoration: line-through;
}

.fa-check-circle {
    color: green;
}

.sort {
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
}

.profile-pic {
    border-radius: 999px;
    height: 40px;
    width: 40px;
}



