<div v-if="$parent.dish[0]" class="container white">
    <h1 class="text-center kdb-header my-4 relative">
        {{$parent.dish[0].name}}
        <span class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <span 
                        v-for="menu in $parent.menus" 
                        v-on:click="$parent.addDishToMenu(menu)"
                        class="dropdown-item" 
                    >Add to {{menu.menu_name}}</span>
                    <div class="dropdown-divider"></div>
                    <span class="dropdown-item">Add to Favorites</span>
                </div>
            </div>
        </span>
    </h1>
    <div class="dish-author text-center">A dish by {{$parent.dish[0].username}}</div>
    <hr>
    <div class="">
        <div class="row">
            <div class="col-sm-12">
                <pre>{{$parent.dish[0].description}}</pre>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-5">
                <h2 class="ingredients-heading">Ingredients</h2>
                <ul class="ingredient-list">
                    <li v-for="ingredient in $parent.dish">
                        {{ingredient.ingredient_name}}
                    </li>
                </ul>
            </div>
            <div class="col-sm-7 text-center">
                <img class="dish-img" src="https://placekitten.com/200/200">
            </div>
        </div>
        <div v-if="$parent.dish[0].preparation" class="row mt-5">
            <div class="col-sm-12">
            <hr class="my-5">
                <h2 class="text-center">Preparation</h2>
                <pre>{{$parent.dish[0].preparation}}</pre>
            </div>
        </div>
    </div>
    <div class="my-5"></div>
</div>