<div>
    <h1 v-if="dish[0]" class="text-center kdb-header my-4">{{dish[0].name}}</h1>

    <div v-if="dish[0]" class="container">
        <div class="row">
            <div class="col-sm-12">
                <pre>{{dish[0].description}}</pre>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-5">
                <ul class="ingredient-list">
                    <li v-for="ingredient in dish">
                        {{ingredient.ingredient_name}}
                    </li>
                </ul>
            </div>
            <div class="col-sm-7 text-center">
                <img class="dish-img" src="http://placekitten.com/300/300">
            </div>
        </div>
    </div>
    <div class="my-5"></div>
</div>