<div v-if="$parent.menu[0]" class="container white">
    <h1 class="text-center kdb-header my-4 relative">
        {{$parent.menu[0].name}}

    </h1>
    <div class="dish-author text-center">A menu by {{$parent.menu[0].username}}</div>
    <hr>
    <div class="">
        <div class="row">
            <div class="col-sm-12">
                <pre>{{$parent.menu[0].description}}</pre>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-5">
                <h2 class="dish-heading">Dishes</h2>
                <ul v-if="$parent.menu[0].dish_name" class="dish-list">
                    <li v-for="dish in $parent.menu">
                        <router-link v-bind:to="'/dish/' + dish.dish_id">{{dish.dish_name}}</router-link>
                    </li>
                </ul>
                <div v-if="!$parent.menu[0].dish_name">
                    <p>This menu doesn't have any dishes in it yet. Try searching for dishes to add.</p>
                </div>
            </div>
            <div class="col-sm-7 text-center">
                <img class="dish-img" src="https://placekitten.com/200/200">
            </div>
        </div>
    </div>
    <div class="my-5"></div>
</div>